<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsFormsApp1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <WindowsFormsApp1.Properties.Settings>
            <setting name="DvChrome" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="DvSilver" serializeAs="String">
                <value>360</value>
            </setting>
            <setting name="DVPlatinum" serializeAs="String">
                <value>850</value>
            </setting>
            <setting name="DvBlueProtect" serializeAs="String">
                <value>850</value>
            </setting>
        </WindowsFormsApp1.Properties.Settings>
    </applicationSettings>
</configuration>